boto3==1.40.35
certifi==2026.7.22
dnspython==2.7.0
fastapi==0.141.1
ipykernel==7.3.0
Jinja2==3.1.6
matplotlib==3.10.6
mypy-boto3-s3==1.40.26
neuro-mf==0.0.5
nltk==3.9.1
numpy==1.26.4
pandas==2.2.3
pymongo==4.15.1
python-dotenv==1.1.1
python-multipart==0.0.20
PyYAML==6.0.3
scikit-learn==1.6.1
scipy==1.17.1
seaborn==0.13.2
setuptools==80.9.0
uvicorn==0.35.0
-e .
